@{
    ViewData["Title"] = "Products";
}

<h2>@ViewData["Title"]</h2>

<ul>

    <li>@Html.ActionLink("Food", "details", "Categories", new { category = "Food" }, null)</li>
    <li>@Html.ActionLink("Tech", "details", "Categories", new { category = "Tech" }, null)</li>
    <li>@Html.ActionLink("Sports", "details", "Categories", new { category = "Sports" }, null)</li>

</ul>